// ----------------------------------------------------------------------------
//  Colors: Generic
// ----------------------------------------------------------------------------

// Darker Colors
// ----------------------------------------------------------------------------
$c-black:             #000;
$c-off-black:         #0a0a0a;
$c-darker:            #1a1a1a;
$c-dark:              #444;

// Medium Colors
// ----------------------------------------------------------------------------
$c-grey:              #ccc;
$c-dark-grey:         #999;
$c-light-grey:        #ddd;

// Lighter Colors
// ----------------------------------------------------------------------------
$c-white:             #fff;
$c-off-white:         #f0f0f0;
$c-light:             #e0e0e0;
$c-lighter:           #eee;

// Generic Colors
// ----------------------------------------------------------------------------
$c-red:               #a32828;
$c-green:             #27ae60;
$c-blue:              #04A4CC;

$c-magenta:           #dd0986;
$c-yellow:            #faea65;
$c-orange:            #fd6f29;
$c-purple:            #9729fd;


// ----------------------------------------------------------------------------
//  Measurement Units
// ----------------------------------------------------------------------------

// Base measurement units like margin & padding off from a standard base,
// so if it ever changes, it will only need to be updated in a single location

$unit-px:             4px;          // base of 4px, 1/4 of 16px
$unit-px2:            $unit-px * 2;
$unit-px3:            $unit-px * 3;
$unit-px4:            $unit-px * 4;
$unit-px5:            $unit-px * 5;

$unit-em:             1em;      // translates to 16px based on 100% font-size

$unit-per:            10%;      // base of 10 for percentages

$circle:              2000px;   // large number to make sure that just about
                                // anything will be able to be 'circled'

$max-width:          1280px;


// ----------------------------------------------------------------------------
//  Media Query Break Points
// ----------------------------------------------------------------------------

$break-mini:           320px;
$break-tiny:           480px;
$break-small:          600px;
$break-portrait:       768px;
$break-normal:        1024px;
$break-large:         1140px;
$break-xlarge:        1200px;
$break-xxlarge:       1600px;
